<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="wix_gv" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="923dc89a-966c-4bb4-a159-9ce13cfccde4">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
